{% load humanize %}

<div class="panel panel-default question" question-id="{{ question.id }}">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% if question.has_accepted_answer %}
        <span class="glyphicon glyphicon-ok"></span>
      {% endif %}
      <a href="{% url 'question' question.pk %}">{{ question.title }}</a>
    </h3>
  </div>
  <div class="panel-body clearfix">
    <div class="question-info">
      <div class="info">
        <h5><span class="glyphicon glyphicon-comment"></span> Answers</h5>
        <span>{{ question.get_answers_count }}</span>
      </div>
      <div class="info">
        <h5><span class="glyphicon glyphicon-star"></span> Favorites</h5>
        <span>{{ question.favorites }}</span>
      </div>
    </div>
    <div class="question-user">
      <a href="{% url 'profile' question.user.username %}"><img src="{{ question.user.profile.get_picture }}" class="user"></a>
      <a href="{% url 'profile' question.user.username %}" class="username">{{ question.user.profile.get_screen_name }}</a>
      <span class="asked">asked {{ question.update_date|naturaltime }}</span>
    </div>
    <div class="question-description">
      {{ question.get_description_preview_as_markdown|safe }}
    </div>
    {% if question.get_tags %}
      <p>
        {% for tag in question.get_tags %}
          <span class="label label-primary">{{ tag }}</span>
        {% endfor %}
      </p>
    {% endif %}
  </div>
</div>


<main class="container">
  <div class="grid">
    <div class="grid--cell is-8-lg is-12">
      <div class="has-padding-4">




        <div class="category--description open" data-category-id="32">
          <div class="category--collapse">
            <p>General Q&amp;A about Judaism, Jewish texts, and Jewish life. This site does not give personal advice.</p>

          </div>
        </div>

        <div class="has-color-tertiary-500 category-meta" title="214">
          <div>
            214
            posts &middot;


            <a class="button is-outlined" href="/subscriptions/new/category?qualifier=32&amp;return_to=%2F">Subscribe</a>
          </div>

          <div class="button-list is-gutterless has-margin-2">
            <a class="button is-muted is-outlined is-active" title="most recent changes: new posts, edits, close/open, delete/undelete" href="https://judaism.codidact.com/?sort=activity">Activity</a>
            <a class="button is-muted is-outlined " title="newest posts (ignores other activity)" href="https://judaism.codidact.com/?sort=age">Age</a>
            <a class="button is-muted is-outlined " title="highest score first (not the same as net votes)" href="https://judaism.codidact.com/?sort=score">Score</a>
            <a class="button is-muted is-outlined " title="exclude imported posts" href="https://judaism.codidact.com/?sort=native">Native</a>
            <a class="button is-muted is-outlined " title="random set of questions, usually older ones" href="https://judaism.codidact.com/?sort=lottery">Random</a>
          </div>
        </div>

        <div class="item-list">

          <div class="item-list--item " data-ckb-list-item data-ckb-item-type="link">
            <div class="item-list--number-value">
              <div class="meter is-question-score">
                <div class="meter--bar is-71%">71%</div>
              </div>
              <span class="item-list--number">
                <span class="js-upvote-count has-font-size-subheading">+3</span>
              </span>
              <span class="item-list--number">
                <span class="js-downvote-count has-font-size-subheading">&minus;0</span>
              </span>
            </div>
            <div class="item-list--text-value is-primary">
              <div class="post-list--title">
                <a data-ckb-item-link="" href="https://judaism.codidact.com/posts/280935">
                  Giving food to a spouse for Mishlo&#39;ach manot

                </a>    </div>
                <p class="has-color-tertiary-600 has-float-right post-list--meta">
                  <span class="answer-count badge is-tag is-red is-small">
                    0 answers
                  </span>&nbsp;&middot;&nbsp;
                  last activity <span title="2021-03-03T16:49:40Z">1 day ago</span>
                  by <a dir="ltr" href="/users/36345">Isaac Moses‭</a>
                </p>
                <div class="has-padding-top-2">
                  <a class="badge is-tag   " href="/categories/32/tags/3443">marriage</a>
                  <a class="badge is-tag   " href="/categories/32/tags/4788">purim</a>
                  <a class="badge is-tag   " href="/categories/32/tags/4837">mishloach-manot</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="grid--cell is-4-lg is-12"> 

        <div class="widget has-margin-4 is-yellow">
          <div class="widget--body">
            <p>Like any library, this site offers tons of great information, but <em><a href="https://judaism.codidact.com/q/276357">does not offer</a> personalized, professional advice</em>, and does not take the place of seeking such advice <a href="https://judaism.codidact.com/q/276360">from your rabbi</a>.</p>

          </div>
        </div>


        <div class="widget has-margin-4">
          <div class="widget--header">
            <a class="widget--header-link" href="/subscriptions">edit</a>
            Subscribe to Questions
          </div>
          <div class="widget--body">
            <p>You can subscribe to
              <a href="/subscriptions/new/all?return_to=%2F">all new questions</a>
              (from all categories) or to
              <a href="/subscriptions/new/interesting?return_to=%2F">interesting questions</a>.</p>
          </div>
        </div>

      </div>
    </div>
  </main>