:root {
    --key: #335;
    --muted-text: #666;
    --muted-graphic: #ddd;
    --primary: #4b68ff;
    --secondary: #ea7317;
    --warning: #fdd835;
    --danger: #eb5959;
    --success: #2ecc71;
    --info: #58a09a;
}
.nat {
    opacity: 0;
    transition: opacity 3s ease;
}
.nat-page .nat {
    opacity: 1;
}
.nat-page .category-header,
.nat-page .footer,
.nat-page .notice.is-banner,
.nat-page .header {
    display: none !important;
}
.nat-page {
    background-color: #eeeeee;
}
.nat h1 {
    font-size: 3em;
    text-align: center;
}
.nat h2 {
    font-size: 2em;
    font-style: italic;
    text-align: center;
}
.nat img {
    max-width: 200px;
    margin: 0 auto;
    display: block;
}
.nat .nat-plane {
    z-index: -10;
    position: absolute;
    top: -77.5vw;
    left: -12.5vw;
    right: 0;
    height: 100vw;
    width: 100vw;
    background-color: #fff;
    transform: rotate(0deg);
    border-radius: 25% 55%;
}
.nat p.is-lead {
    margin-top: 1em;
    margin-bottom: 2.5em;
}
.nat p {
    text-align: center;
}
.nat p.h-ta-center {
    margin-top: 1em;
}
.nat table {
    max-width: 600px;
    width: 100%;
    margin: 2rem auto;
    background-color: #fff;
    font-size: 1.25em;
}
.nat table th,
.nat table td {
    padding: 0.5em;
}
:root {
    --key: #335;
    --muted-text: #666;
    --muted-graphic: #ddd;
    --primary: #4b68ff;
    --secondary: #ea7317;
    --warning: #fdd835;
    --danger: #eb5959;
    --success: #2ecc71;
    --info: #58a09a;
}
.category-meta {
    display: flex;
    border-bottom: 1px solid #ddd;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
@media screen and (min-width: 780px) {
    .category-meta {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
.category-header--nav {
    overflow-x: auto;
    white-space: nowrap;
}
.category--description {
    color: #666;
}
:root {
    --key: #335;
    --muted-text: #666;
    --muted-graphic: #ddd;
    --primary: #4b68ff;
    --secondary: #ea7317;
    --warning: #fdd835;
    --danger: #eb5959;
    --success: #2ecc71;
    --info: #58a09a;
}
.comment {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    padding: 0.5em;
    align-items: stretch;
    max-width: 100%;
    overflow: auto;
}
.comment .comment--content {
    margin-bottom: 0;
}
.comment .comment--meta {
    margin-left: auto;
}
.comment-form {
    margin-top: 0.5em;
}
.post--comments {
    font-size: 0.9em;
}
.error-code {
    font-size: 8rem;
    padding: 0;
    margin: -0.3em 0;
}
.error-name {
    font-variant: small-caps;
    letter-spacing: 10px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.error-trace {
    background: #eee;
    height: unset;
    max-height: unset;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.error-report-summary {
    display: flex;
    align-items: center;
}
.error-report-summary .details {
    flex: 1;
}
:root {
    --key: #335;
    --muted-text: #666;
    --muted-graphic: #ddd;
    --primary: #4b68ff;
    --secondary: #ea7317;
    --warning: #fdd835;
    --danger: #eb5959;
    --success: #2ecc71;
    --info: #58a09a;
}
select.form-element {
    display: block;
    width: 100%;
}
.form-group {
    margin-bottom: 1em;
}
.form-group-horizontal {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    align-items: flex-end;
}
@media screen and (min-width: 780px) {
    .form-group-horizontal {
        flex-direction: row;
    }
    .form-group-horizontal > :first-child {
        margin: 0 0.5em 0 0 !important;
    }
    .form-group-horizontal > :last-child {
        margin: 0 0 0 0.5em !important;
    }
}
.form-group-horizontal > .form-group {
    margin: 0.5em 0;
}
@media screen and (min-width: 780px) {
    .form-group-horizontal > .form-group {
        margin: 0 0.5em;
        flex: 1;
    }
}
.form-group-horizontal > .actions {
    display: flex;
    align-items: flex-end;
}
.form-inline input[type="file"] {
    display: inline-block;
}
.select2 {
    margin: 0.4em 0;
}
.select2-container {
    width: 100% !important;
    z-index: 8999;
}
textarea.has-rows[rows="1"] {
    min-height: 2.4em;
}
textarea.has-rows[rows="2"] {
    min-height: 3.6em;
}
textarea.has-rows[rows="3"] {
    min-height: 4.8em;
}
textarea.has-rows[rows="4"] {
    min-height: 6em;
}
textarea.has-rows[rows="5"] {
    min-height: 7.2em;
}
textarea.has-rows[rows="6"] {
    min-height: 8.4em;
}
textarea.has-rows[rows="7"] {
    min-height: 9.6em;
}
textarea.has-rows[rows="8"] {
    min-height: 10.8em;
}
textarea.has-rows[rows="9"] {
    min-height: 12em;
}
textarea.has-rows[rows="10"] {
    min-height: 13.2em;
}
textarea.has-rows[rows="11"] {
    min-height: 14.4em;
}
textarea.has-rows[rows="12"] {
    min-height: 15.6em;
}
textarea.has-rows[rows="13"] {
    min-height: 16.8em;
}
textarea.has-rows[rows="14"] {
    min-height: 18em;
}
textarea.has-rows[rows="15"] {
    min-height: 19.2em;
}
textarea.has-rows[rows="16"] {
    min-height: 20.4em;
}
textarea.has-rows[rows="17"] {
    min-height: 21.6em;
}
textarea.has-rows[rows="18"] {
    min-height: 22.8em;
}
textarea.has-rows[rows="19"] {
    min-height: 24em;
}
textarea.has-rows[rows="20"] {
    min-height: 25.2em;
}
textarea.has-rows[rows="21"] {
    min-height: 26.4em;
}
textarea.has-rows[rows="22"] {
    min-height: 27.6em;
}
textarea.has-rows[rows="23"] {
    min-height: 28.8em;
}
textarea.has-rows[rows="24"] {
    min-height: 30em;
}
textarea.has-rows[rows="25"] {
    min-height: 31.2em;
}
.__keyboard_help {
    padding: 1rem;
    font-family: monospace;
    white-space: pre-wrap;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 0.25rem;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    z-index: 2305843009213693951;
}
.__keyboard_selected {
    outline: 0.25rem solid red;
}
.select2-results__option--highlighted .has-color-tertiary-600 {
    color: #ddd !important;
}
:root {
    --key: #335;
    --muted-text: #666;
    --muted-graphic: #ddd;
    --primary: #4b68ff;
    --secondary: #ea7317;
    --warning: #fdd835;
    --danger: #eb5959;
    --success: #2ecc71;
    --info: #58a09a;
}
.markdown-tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.markdown-tools .button-list {
    margin: 0 0.3em 0.3em 0;
}
:root {
    --key: #335;
    --muted-text: #666;
    --muted-graphic: #ddd;
    --primary: #4b68ff;
    --secondary: #ea7317;
    --warning: #fdd835;
    --danger: #eb5959;
    --success: #2ecc71;
    --info: #58a09a;
}
.notification {
    border-top: 1px solid #ddd;
    padding: 0.5em;
}
@media screen and (min-width: 780px) {
    .notification {
        flex-direction: row;
    }
}
.notification > * {
    margin: 0 0.2em;
}
.notification:last-of-type {
    border-bottom: 1px solid #ddd;
}
.notification .notification--timestamp {
    line-break: strict;
}
:root {
    --key: #335;
    --muted-text: #666;
    --muted-graphic: #ddd;
    --primary: #4b68ff;
    --secondary: #ea7317;
    --warning: #fdd835;
    --danger: #eb5959;
    --success: #2ecc71;
    --info: #58a09a;
}
.history-event {
    border-top: 1px solid #ddd;
    padding: 1em;
}
.history-event > :not(summary) {
    margin-top: 0.5em;
}
.history-event:last-of-type {
    border-bottom: 1px solid #ddd;
}
.history-event .before {
    flex: 1;
    padding: 0.5em;
    background: white;
}
.history-event .after {
    flex: 1;
    padding: 0.5em;
    background: #e6f9ee;
}
:root {
    --key: #335;
    --muted-text: #666;
    --muted-graphic: #ddd;
    --primary: #4b68ff;
    --secondary: #ea7317;
    --warning: #fdd835;
    --danger: #eb5959;
    --success: #2ecc71;
    --info: #58a09a;
}
.checkbox-setting {
    border: 1px solid #ddd;
    border-radius: 0.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    margin: 0.5em 0;
}
.checkbox-setting .checkbox-setting--desc label.form-element {
    margin: 0.1em 0;
}
.checkbox-setting .checkbox-setting--desc .desc {
    color: #666;
    font-size: 0.8em;
}
:root {
    --key: #335;
    --muted-text: #666;
    --muted-graphic: #ddd;
    --primary: #4b68ff;
    --secondary: #ea7317;
    --warning: #fdd835;
    --danger: #eb5959;
    --success: #2ecc71;
    --info: #58a09a;
}
.post-field {
    font-family: "Roboto Mono", monospace !important;
}
.upload-form {
    margin: 1em 0;
}
.upload-form button[type="submit"] {
    display: none;
}
.post--container {
    max-width: 100%;
}
.post--container .grid--cell.is-flexible {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    width: 0;
}
.badge.is-tag {
    margin: 0.1rem;
}
h1 .badge.is-tag.is-master-tag {
    position: relative;
    top: -0.4em;
}
.vote-button svg {
    font-size: 20px;
}
.post-list--meta {
    font-size: 14px;
}
.post--action-dialog {
    display: none;
}
.post--action-dialog.is-active {
    display: block;
}
.post--action-dialog label.form-element {
    margin: 0;
}
.post--action-dialog .form-caption {
    margin: 0;
    margin-top: 4px !important;
}
.post--action-dialog .form-caption p {
    margin: 0;
}
.js-close-box .widget--body {
    padding: 0.25em 0.5em;
}
.js-close-box .widget--body .grid--cell:first-child {
    padding-top: 0.6em;
}
.post-preview {
    padding: 1em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
}
.post-field.widget--body {
    margin: -1px -1px 3px -1px;
    border-radius: 0;
    width: calc(100% + 2px);
}
.post-field.widget--body + .widget--footer {
    margin-bottom: 0;
}
.post--title {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
@media screen and (min-width: 780px) {
    .post--title {
        flex-direction: row;
    }
    .post--title > .badge {
        margin-left: 0.5em;
        display: flex;
        align-items: center;
    }
    .post--title > .badge > i {
        margin-right: 0.2em;
    }
}
.post--tags {
    padding: 0.2em 0;
}
.post--meta {
    margin: 0.2em 0;
}
.post--meta .post-meta--post,
.post--meta .post-meta--user {
    padding: 0.5rem;
    border-radius: 5px;
    color: #666;
    margin: 0.1em 0;
}
@media screen and (min-width: 780px) {
    .post--meta .post-meta--post,
    .post--meta .post-meta--user {
        margin: 0;
    }
}
.post--meta .post-meta--user {
    background: #eee;
    align-self: flex-end;
}
@media screen and (min-width: 780px) {
    .post--meta .post-meta--user {
        align-self: flex-start;
    }
}
.post--meta .post-meta--post {
    font-size: 0.9em;
}
.post--meta .post-meta--post > * {
    margin: 0.1em 0;
}
.post--container {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 576px) {
    .post--container {
        flex-direction: row;
    }
}
.post--votes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 576px) {
    .post--votes {
        flex-direction: column;
    }
}
.post--no-votes {
    font-size: 2em;
    color: #666;
    font-weight: light;
}
.post--content {
    flex: 1;
    word-break: break-word;
}
@media screen and (min-width: 576px) {
    .post--content {
        max-width: calc(100% - 3em);
    }
}
.post--body p {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.site-setting--value {
    min-height: 1em;
    min-width: 2em;
}
.js-suggested-edit-reject-dialog.is-hidden {
    display: none;
}
:root {
    --key: #335;
    --muted-text: #666;
    --muted-graphic: #ddd;
    --primary: #4b68ff;
    --secondary: #ea7317;
    --warning: #fdd835;
    --danger: #eb5959;
    --success: #2ecc71;
    --info: #58a09a;
}
.tabs {
    margin-bottom: 1em;
}
.item-list.is-flex-centered .item-list--text-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item-list.is-flex-centered .item-list--text-value.is-primary {
    align-items: flex-start;
}
.tag-cell {
    margin: 0.5em 0;
}
.tag-cell:hover {
    background: #f0f2ff;
    transition: all 0.3s ease;
    border-radius: 0.2em;
}
.tag-cell p {
    margin: 0;
}
:root {
    --key: #335;
    --muted-text: #666;
    --muted-graphic: #ddd;
    --primary: #4b68ff;
    --secondary: #ea7317;
    --warning: #fdd835;
    --danger: #eb5959;
    --success: #2ecc71;
    --info: #58a09a;
}
.community-header-list {
    display: flex;
    flex-direction: column;
}
.community-header-list .community-header-list-entry a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.community-header-list .community-header-list-entry a img {
    max-height: 1.5rem;
}
.community-header-list .community-header-list-entry a .img {
    width: 100px;
    padding: 10px;
}
.community-header-list .community-header-list-entry a .label {
    flex-grow: 1;
}
#communities-slide {
    max-height: 400px;
    overflow-y: auto;
}
@media screen and (max-width: 780px) {
    .header--site-name img {
        max-height: 2.4em;
        padding: 0.3em 0;
    }
}
.codidactyl {
    width: 80px;
    padding: 2rem;
    margin-top: 1rem;
}
.codidactyl + .is-flexible {
    width: 0;
}
.codidactyl-sticky {
    position: sticky;
    top: 0.5rem;
    padding: 1rem;
}
.codidactyl-small {
    max-height: 1em;
}
:root {
    --key: #335;
    --muted-text: #666;
    --muted-graphic: #ddd;
    --primary: #4b68ff;
    --secondary: #ea7317;
    --warning: #fdd835;
    --danger: #eb5959;
    --success: #2ecc71;
    --info: #58a09a;
}
.user-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}
@media screen and (min-width: 992px) {
    .user-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
.user-list--user {
    border-radius: 0.4em;
    transition: all 0.2s ease;
    padding: 0.5em;
}
.user-list--user:hover {
    background: #eeeeee;
}
.user-list--user .username {
    font-size: 1.2em;
    word-break: break-word;
}
.user-list--user img {
    min-height: 32px;
    min-width: 32px;
    width: 32px;
    height: 32px;
    object-fit: contain;
}
.user-list--user .user--meta {
    display: flex;
    flex-direction: column;
}
.profile-text {
    padding: 0.125em;
    line-height: 1.5;
    max-height: 500px;
    overflow: auto;
}
.user-profile-heading {
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
}
.user-profile--image img {
    width: 100%;
}
@media all and (max-width: 64em) {
    .profile-text {
        max-height: none;
    }
}
.staff-badge {
    display: inline-block !important;
    padding: 3px 6px !important;
    border-radius: 2px !important;
    font-weight: 700 !important;
}
.user-card {
    display: flex;
}
.user-card .user-card--avatar {
    align-self: flex-start;
    padding: 0 0.5rem;
    padding-left: 0;
    flex-grow: 0;
}
.user-card .user-card--content {
    padding: 0 0.25rem;
}
.user-card .user-card--content .user-card--link {
    margin-bottom: 0.75rem;
}
.user-card .user-card--content .user-card--meta {
    font-size: 0.85em;
    color: #666;
    display: flex;
    flex-wrap: wrap;
}
.user-card .user-card--content .user-card--meta .user-card--break {
    flex-grow: 1;
    width: 100%;
}
.user-card .user-card--content .user-card--meta .user-card--detail {
    margin-top: 0.125rem;
    margin-right: 0.35rem;
}
.user-card .user-card--content .user-card--meta .user-card--detail .fa-fw {
    font-size: 0.8em;
}
.user-card img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}
.user-pref {
    border: 1px solid #ddd;
    border-radius: 0.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    margin: 0.5em 0;
}
.user-pref .user-pref--meta .desc {
    color: #666;
    font-size: 0.8em;
}
:root {
    --key: #335;
    --muted-text: #666;
    --muted-graphic: #ddd;
    --primary: #4b68ff;
    --secondary: #ea7317;
    --warning: #fdd835;
    --danger: #eb5959;
    --success: #2ecc71;
    --info: #58a09a;
}
.flex-row-always {
    display: flex;
    flex-direction: row;
}
.flex-row-always > * {
    margin: 0 0.5em;
}
.flex-row-always .primary {
    flex: 1;
}
.flex-row {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 780px) {
    .flex-row {
        flex-direction: row;
    }
    .flex-row > * {
        margin: 0 0.5em !important;
    }
    .flex-row > :first-child {
        margin-left: 0 !important;
    }
    .flex-row > :last-child {
        margin-right: 0 !important;
    }
}
.flex-row > * {
    margin: 0.5em 0;
}
.flex-row .primary {
    flex: 1;
}
.ai-c {
    align-items: center;
}
.ai-fe {
    align-items: flex-end;
}
.jc-sb {
    justify-content: space-between;
}
.raw-markdown {
    font-family: "Roboto Mono", monospace;
    white-space: pre-wrap;
}
.table-borderless,
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
pre.unformatted {
    padding: unset;
    margin: unset;
    font-size: unset;
    line-height: unset;
    color: unset;
    background: unset;
    border: unset;
}
pre.pre-wrap {
    max-width: 40em !important;
    width: 40em !important;
    overflow-x: scroll;
    overflow-wrap: break-word;
    white-space: pre-wrap !important;
}
.stat-panel {
    flex: 1;
}
.stat-panel-heading {
    margin-top: 0;
    font-variant: small-caps;
    color: #666;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.stat-value {
    font-size: 2em;
}
.badge.is-tag.is-outlined {
    border: 1px solid #001db1;
}
.badge.is-tag.is-outlined.is-red {
    border: 1px solid #b3001e;
}
.badge.is-tag.is-small {
    padding: 2px 4px;
    line-height: 1;
}
.badge.is-tag.is-large {
    font-size: 22px;
}
.error-shake {
    animation: shake 0.5s;
}
@keyframes shake {
    0% {
        transform: translate(-5px);
    }
    10% {
        transform: translate(5px);
    }
    20% {
        transform: translate(-5px);
    }
    30% {
        transform: translate(5px);
    }
    40% {
        transform: translate(-5px);
    }
    50% {
        transform: translate(5px);
    }
    60% {
        transform: translate(-5px);
    }
    70% {
        transform: translate(5px);
    }
    80% {
        transform: translate(-5px);
    }
    90% {
        transform: translate(5px);
    }
    100% {
        transform: translate(-5px);
    }
}
.diff .raw-markdown {
    white-space: unset;
}
.diff ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.diff ul li {
    min-height: 20px;
}
.diff ul li del,
.diff ul li ins {
    text-decoration: none;
}
.diff ul li del > strong {
    text-decoration: line-through;
}
.diff ul li ins > strong {
    text-decoration: underline;
}
@media screen and (min-width: 576px) {
    .__mobile-only {
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .__desktop-only {
        display: none;
    }
}
.footnote-ref a::before {
    content: "";
}
.footnote-ref a::after {
    content: "";
}
details {
    border: 1px solid white;
}
details[open] {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 0.2em;
}
details > summary {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 780px) {
    details > summary {
        flex-direction: row;
        align-items: center;
    }
}
details > summary > .subheading {
    margin-top: 0.3em;
    font-size: 0.8em;
    font-weight: normal;
    color: #666;
}
@media screen and (min-width: 780px) {
    details > summary > .subheading {
        margin-top: unset;
        margin-left: 0.4em;
    }
}
.item-list .item-list--item .item-list--number-value {
    height: unset;
}
.item-list--item .item-list--number-value .meter {
    margin-top: 0.5em !important;
}
.button.is-warning.is-outlined {
    border: 1px #b19002 !important;
}
span.spoiler {
    display: block;
    margin: 4px 0;
    padding: 8px 12px;
    background-color: #e4e8ff;
    border: 2px solid #98a8ff;
    border-radius: 12px 12px 12px 0;
}
span.spoiler span {
    transition: color 0.2s ease;
    visibility: hidden;
    color: #e4e8ff;
}
span.spoiler:hover span,
span.spoiler:active span {
    transition: all 0.2s ease;
    visibility: visible;
    color: #335;
}
:root {
    --key: #335;
    --muted-text: #666;
    --muted-graphic: #ddd;
    --primary: #4b68ff;
    --secondary: #ea7317;
    --warning: #fdd835;
    --danger: #eb5959;
    --success: #2ecc71;
    --info: #58a09a;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Red Hat Display", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.post h1 {
    font-size: 1.7em;
}
.deleted-content {
    background: #f9cbcb;
}
@media all and (min-width: 32rem) {
    .header--brand img {
        max-height: 1em;
    }
}
img {
    max-width: 100%;
}
a {
    overflow-wrap: break-word;
}
a.header--site-name {
    display: flex !important;
}
.header .header--item.is-complex:not(.is-mobile-menu) {
    align-items: center !important;
    display: flex !important;
}
@media all and (max-width: 73.5em) {
    .grid {
        margin-left: 0;
        margin-right: 0;
    }
}
.notice a {
    word-break: break-word;
}
.notice.is-filled a {
    color: white !important;
    font-weight: bold !important;
}
.item-list--item .item-list--text-value {
    margin: 0 !important;
}
.item-list--item .item-list--number-value {
    width: 80px !important;
    margin: 0 !important;
    align-self: stretch;
    justify-content: flex-start;
}
.item-list--item .item-list--number-value .meter {
    flex-shrink: 0;
    margin-top: 1.5rem;
}
ul.pagination li.active {
    border-color: #293338;
    background-color: #3f4e56;
    box-shadow: 2px 3px 2px -2px #344147;
    color: #fff;
    font-weight: 600;
}
ul.pagination li.active a:hover {
    background-color: transparent;
}
ul.pagination li.disabled {
    box-shadow: none;
}
.notice__dev-mode {
    font-size: 14px;
}
header.header {
    z-index: 5;
    position: relative;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}
.notice a.has-font-size-larger {
    font-size: 19px;
}
img.codidact-logo {
    height: 32px;
}
hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1.5em 0;
}
.modal {
    position: fixed !important;
    z-index: 8998;
}
.category-header--tabs-container {
    overflow-x: auto;
}
@media screen and (min-width: 780px) {
    .category-header--tabs-container {
        overflow-x: unset;
    }
}
.footnote-ref a::before {
    content: "[";
}
div.post-preview .footnote-ref a::before {
    content: "";
}
.footnote-ref a::after {
    content: "]";
}
div.post-preview .footnote-ref a::after {
    content: "";
}
.footnotes-sep + .footnotes {
    border-top: 0;
}
.footnotes {
    border-top: 1px solid #ddd;
    font-size: 0.9em;
}
.dashboard-full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-full-center img {
    height: 1.25em;
}
.inbox {
    max-width: 400px;
}
.inbox--container {
    max-height: 600px;
    overflow-y: scroll;
}
.header--container {
    align-items: center !important;
}
img {
    align-self: flex-start;
}
.droppanel {
    z-index: 3;
}
.widget .widget--body + .widget--header {
    border-top: 1px solid #d0d9dd;
}
.widget.is-tertiary .widget--body + .widget--header {
    border-top: 1px solid #9daeb7;
}
pre {
    background: #f0f0f0;
    border: 0;
}
pre .hljs {
    padding: 0;
    background: inherit;
    overflow-x: unset !important;
}
.audit-log--body {
    white-space: pre-wrap;
    vertical-align: text-top;
}
table {
    border-collapse: collapse;
    padding: 4px;
    max-width: 100%;
}
table.is-full-width {
    width: 100%;
}
table th {
    border-bottom: 3px solid #ccc;
    padding: 6px 10px;
    font-weight: 600;
    text-align: left;
}
table td {
    border-bottom: 1px solid #ccc;
    padding: 6px 10px;
    text-align: left;
}
table th:not(:last-child),
table td:not(:last-child) {
    border-right: 1px solid #ccc;
}
table.is-compact th,
table.is-compact td {
    padding: 2px 6px;
}
table.is-striped tr:nth-of-type(2n + 1) td {
    background-color: #f6f6f6;
}
table.is-with-hover tr:hover td {
    background-color: #eee;
}
.header.is-small .header--brand .header--site-name {
    font-size: 2rem;
}
.notice {
    z-index: 9999;
}
