main {
  margin-top: 60px;
}

.post-row .count-box-sm {
  float: left;
}
.post-row .count-box {
  float: left;
  width: 12.4em;
}
.post-row .count-box .book_count {
  font-size: smaller;
  color: #762C90;
}
.post-row .box {
  margin: 0 0.1em 0 0;
  padding: 1px;
  width: 4em;
  text-align: center;
  float: left;
}
.post-row .box .t {
  font-size: smaller;
  margin-top: 5px;
}
.post-row .box .c {
  font-size: 1.4em;
  font-weight: bold;
  height: 2ex;
  vertical-align: middle;
  text-align: center;
}
.post-row .box.vote {
  background-color: #eeeeee;
}

.post-row .answered {
  background-color: #5b8c3e;
  color: white;
}
.post-row .commented {
  background-color: #436c27;
  color: white;
}
.post-row .accepted {
  background-color: #436c27;
  color: #E1E818;
}
.post-row .unanswered {
  background-color: #8f2c47;
  color: white;
}